
{% extends "base.html" %}
{% load i18n %}
{% load tag %}
{% load staticfiles %}
{% block head_block %} {% endblock %}

{% block menu_block %}
{% endblock %}

{% block container_block %}
       <div class="container">
        <div class="cover profile">
            <div class="wrapper">
                <div class="image">
                    {% if user_detail.cover_photo %}
                        <img src="/media/{{ user_detail.cover_photo }}" alt="people" />
                    {% else %}
                        <img src="{% static 'images/profile-cover.jpg' %}" alt="people" />
                    {% endif %}
                </div>
                <ul class="friends">
                {% for follower in follower_list_cover %}
                    <li>
                        <a href="/profile/{{ follower.user.username }}/">
                            {% if follower.profile_photo == ''%}
                            <img src="{% static 'images/default-avatar.png' %}" alt="people" class="img-responsive" style="height: 83px !important;">
                            {% else %}
                            <img src="/media/{{ follower.profile_photo }}" alt="people" class="img-responsive" style="height: 83px !important;">
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
                    <li><a href="#" class="group"><i class="fa fa-group"></i></a>
                    </li>
                </ul>
            </div>
            <div class="cover-info">
                <div class="avatar">
                    {% if user_detail.profile_photo == '' %}
                        <img src="{% static 'images/default-avatar.png' %}" alt="people" class="img-responsive">
                    {% else %}
                        <img src="/media/{{ user_detail.profile_photo }}" alt="people" class="img-responsive">
                    {% endif %}
                </div>
                <div class="name">
                    <a href="/profile/{{ user.username }}/">
                {{ user.first_name }}
                {{ user.last_name }}
                {% if user_detail.type == '0' %}
                    ( Obez )
                {% elif user_detail.type == '1' %}
                    ( O Eskidendi )
                {% elif user_detail.type == '2' %}
                    ( Saç Stilisti )
                {% elif user_detail.type == '3' %}
                    ( Giyim Uzmanı )
                {% elif user_detail.type == '4' %}
                    ( Diyetisyen )
                {% elif user_detail.type == '5' %}
                    ( Giyim Firması )
                {% endif %}
            </a>
                </div>
                <ul class="cover-nav">
                    <li><a href="/profile/{{ user.username }}/"><i class="fa fa-fw icon-ship-wheel"></i> Profil</a>
                    </li>
                    <li><a href="/profile/about/{{ user.username }}/"><i class="fa fa-fw icon-user-1"></i> Hakkında</a>
                    </li>
                    <li><a href="/profile/followers/{{ user.username }}/"><i class="fa fa-fw fa-users"></i> Takipçiler</a>
                    </li>
                    <li><a href="/profile/followeds/{{ user.username }}/"><i class="fa fa-fw fa-users"></i> Takip Ettikleri</a>
                    </li>
                    {% if request.user != user %}
                    <li><a href="javascript:void(0)" id="{{ user.id }}" onclick="added_ticket_to_my_bag(this);"><i class="fa fa-fw fa-check-circle"></i>
                        <output id="o{{ user.id }}">{% if is_followed_by_me %}{{ follow_status.1 }}{% else %}{{ follow_status.0 }}{% endif %}</output>
                    </a>
                    <li><a href="/messages/detail/{{ username }}"><i class="fa fa-fw fa-envelope"></i> Mesaj Gönder</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="timeline row" data-toggle="gridalicious">
            {% if all_follower_list %}
            {% for follower in all_follower_list %}
            <div class="timeline-block">
                <div class="panel panel-default user-box">
                    <div class="panel-body">
                        <div class="media">
                            {% if follower.0.profile_photo == '' %}
                            <img src="{% static 'images/default-avatar.png' %}" style="width: 80px !important;height: 80px !important;" alt="people" class="media-object img-circle pull-left" />
                            {% else %}
                            <img src="/media/{{ follower.0.profile_photo }}" style="width: 80px !important;height: 80px !important;" alt="people" class="media-object img-circle pull-left" />
                            {% endif %}
                            <div class="media-body">
                                <a href="/profile/{{ follower.0.user.username }}/" class="username">{{ follower.0.user.username }} {% if user_detail.type == '0' %}
                    ( Obez )
                {% elif follower.0.type == '1' %}
                    ( O Eskidendi )
                {% elif follower.0.type == '2' %}
                    ( Saç Stilisti )
                {% elif follower.0.type == '3' %}
                    ( Giyim Uzmanı )
                {% elif follower.0.type == '4' %}
                    ( Diyetisyen )
                {% elif follower.0.type == '5' %}
                    ( Giyim Firması )
                {% endif %}</a></a>
                                <div class="profile-icons">
                                    <span><i class="fa fa-users"></i> {{ follower.3 }}</span> <span><i class="fa fa-photo"></i> {{ follower.2 }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if follower.1 %}
                    <div class="panel-body bordered">
                        <p class="common-friends">Takipçiler</p>
                        <div class="user-friend-list">
                            {%  for follow in follower.1 %}
                            <a href="/profile/{{ follow.user.username }}/">
                                {% if follow.profile_photo == '' %}
                                <img src="{% static 'images/default-avatar.png' %}" style="width: 50px !important;height: 50px !important;" alt="{{ follow.user.username }}" class="img-circle" />
                                {% else %}
                                <img src="/media/{{ follow.profile_photo }}" style="width: 50px !important;height: 50px !important;" alt="{{ follow.user.username }}" class="img-circle" />
                                {% endif %}
                            </a>
                                {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <div class="panel-footer">
                        <a href="javascript:void(0)" id="{{ follower.0.user.id }}" onclick="added_ticket_to_my_bag(this);" class="btn btn-default btn-sm">
                            <output id="o{{ follower.0.user.id }}">
                                {% if follower.4 %}
                                {{ follow_status.1 }}
                                {% else %}
                                {{ follow_status.0 }}
                                {% endif %}
                            </output>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
                <p style="text-align: center">Henüz takip edettiği kişi bulunmuyor !</p>
            {% endif %}
        </div>
    </div>

{% endblock %}
{% block script_block %}
    <script type="text/javascript">
        function added_ticket_to_my_bag(followed) {
            $.ajax({
                type: "POST",
                url: "/add_followed/",
                data: {followed: + followed.id },
                success: okey(followed),
                dataType: JSON
            });
        }
        function okey(followed)
        {
            console.log('geldi tipini siktiğin');
            var out = $("#o"+followed.id).html();
            if (out == "{{ follow_status.0 }}"){
            $("#o"+followed.id).html("{{ follow_status.1 }}");
            }else{
            $("#o"+followed.id).html("{{ follow_status.0 }}");
            }
        }
</script>
{% endblock %}