{% load staticfiles %}
{% load i18n %}
{% get_current_language as tr %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Social Network Template</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <!-- App Styling Bundle -->
    <link href="{% static 'css/default.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Karla%7CMontserrat">
	<link rel="stylesheet" href="{% static 'css/lightbox.css' %}">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]><script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
{% block head_block %}{% endblock %}
</head>
<body>




{% block menu_block %}

{% endblock %}
    <!-- Fixed navbar -->
    <div class="navbar navbar-main navbar-primary navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a data-toggle="sidebar-chat" class="btn btn-link navbar-btn visible-xs"><i class="fa fa-comments"></i></a>
                <a class="navbar-brand" href="/"><img src="{% static 'images/logo.png' %}" width="50" style="margin-top: -15px;"></a>

            </div>

            <div class="collapse navbar-collapse" id="main-nav">
                <div class="col-sm-7 col-sm-offset-0" style="margin-top: 12px;">
                    <div class="input-group">
                        <input type="text" class="form-control" id="search" name="search" placeholder="Arama yapmak için...">
                          <span class="input-group-btn">
                            <button class="btn btn-default" onclick="search()" type="button">Ara</button>
                          </span>
                    </div>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden-xs">
                        <a href="#" data-toggle="sidebar-chat">
                            <i class="fa fa-comments"></i>
                        </a>
                    </li>

                    <!-- User -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle user" data-toggle="dropdown">
                            {% if active_user.profile_photo == '' %}
                                <img src="{% static 'images/default-avatar.png' %}" alt="{{ active_user.user.first_name }}" class="img-circle" width="40" height="40"  /> {{ active_user.user.first_name }} <span class="caret"></span>
                            {% else %}
                                <img src="/media/{{ active_user.profile_photo }}" alt="{{ active_user.user.first_name }}" class="img-circle" width="40" height="40" /> {{ active_user.user.first_name }} <span class="caret"></span>
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/profile/{{ active_user.user.username }}/">Profile</a>
                            </li>
                            <li><a href="/messages/">Messages</a>
                            </li>
                            <li><a href="/accounts/logout/">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <!-- /.navbar-collapse -->
            </div>
    </div>
    <div class="sidebar right">
        <div class="chat-search">
            <input type="text" class="form-control" placeholder="Search" />
        </div>
        <ul class="chat-filter nav nav-pills ">
            <li class="active"><a href="/messages/" data-target="li">Tüm Mesajlar</a>
            </li>
        </ul>
        <ul class="chat-contacts">
            {% for message in message_list %}
            <li class="online" data-user-id="{{ message.user.id }}">
                <a href="/messages/detail/{{ message.user.username }}/">
                    <div class="media">
                        <div class="pull-left">
                            {% if message.profile_photo == '' %}
                                <img src="{% static 'images/default-avatar.png' %}" width="40" class="img-circle" />
                            {% else %}
                                <img src="/media/{{ message.profile_photo }}" width="40" class="img-circle" />
                            {% endif %}
                        </div>
                        <div class="media-body">
                            <div class="contact-name">{{ message.user.first_name }} {{ message.user.last_name }}</div>
                            <small>{{ message.user.username }}</small>
                        </div>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="chat-window-container"></div>
{% block container_block %}{% endblock %}

    <!-- Footer -->
    <div class="footer">
        FlowerPot  &copy; LSD Software
    </div>

    <!-- // Footer -->

<!-- Vendor Scripts Bundle --><script src="{% static 'js/vendor.min.js' %}"></script>

    <!-- App Scripts Bundle -->
    <script src="{% static 'js/scripts.min.js' %}"></script>
    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
	<script src="{% static 'js/lightbox.min.js' %}"></script>
    <script type="text/javascript">
        function search(){
            if (document.getElementById("search").value != '' || document.getElementById("search").value != '%20'){
            window.location.href = "/search/"+document.getElementById("search").value+"/";
        }}
    </script>
{% block script_block %}

{% endblock %}
</body>
</html>