{% extends "base.html" %}
{% load i18n %}
{% load tag %}
{% load staticfiles %}

{% block head_block %}{% endblock %}
{% block menu_block %}{% endblock %}

{% block container_block %}

    <div class="container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

        <div class="timeline row" data-toggle="gridalicious">
                <div class="timeline-block">
                    <div class="panel panel-default share">
                        <div class="panel-heading panel-heading-gray title">
                            Bizimle paylaş
                        </div>
                        <form class="form-horizontal" id="status_form" method='POST' enctype="multipart/form-data" >
                            {% csrf_token %}
                                <div class="panel-body">
                                    <textarea name="status" class="form-control share-text" rows="3" placeholder="Durum yada kilo paylaş...
ör; kilo=92" style="max-width: 338px;" maxlength="180"></textarea>
                                </div>
                                <div class="panel-footer share-buttons">
                                    <a href="#" >
                                        <div id="file"><i class="fa fa-photo"></i></div>
                                        <input type="file" name="file" multiple accept="image/x-png, image/gif, image/jpeg"/>
                                    </a>
                                    <button type="submit" name="status_submit" class="btn btn-primary btn-xs pull-right display-none" href="#">Paylaş</button>
                                </div>
                        </form>
                    </div>
                </div>

        {% if all_follower_list %}
            {% for follower in all_follower_list %}
            <div class="timeline-block">
                <div class="panel panel-default user-box">
                    <div class="panel-body">
                        <div class="media">
                            {% if follower.0.profile_photo == '' %}
                            <img src="{% static 'images/default-avatar.png' %}" style="width: 80px !important;height: 80px !important;" alt="people" class="media-object img-circle pull-left" />
                            {% else %}
                            <img src="/media/{{ follower.0.profile_photo }}" style="width: 80px !important;height: 80px !important;" alt="people" class="media-object img-circle pull-left" />
                            {% endif %}
                            <div class="media-body">
                                <a href="/profile/{{ follower.0.user.username }}/" class="username">{{ follower.0.user.username }} {% if user_detail.type == '0' %}
                    ( Obez )
                {% elif follower.0.type == '1' %}
                    ( O Eskidendi )
                {% elif follower.0.type == '2' %}
                    ( Saç Stilisti )
                {% elif follower.0.type == '3' %}
                    ( Giyim Uzmanı )
                {% elif follower.0.type == '4' %}
                    ( Diyetisyen )
                {% elif follower.0.type == '5' %}
                    ( Giyim Firması )
                {% endif %}</a></a>
                                <div class="profile-icons">
                                    <span><i class="fa fa-users"></i> {{ follower.3 }}</span> <span><i class="fa fa-photo"></i> {{ follower.2 }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if follower.1 %}
                    <div class="panel-body bordered">
                        <p class="common-friends">Takipçiler</p>
                        <div class="user-friend-list">
                            {%  for follow in follower.1 %}
                            <a href="/profile/{{ follow.user.username }}/">
                                {% if follow.profile_photo == '' %}
                                <img src="{% static 'images/default-avatar.png' %}" style="width: 50px !important;height: 50px !important;" alt="{{ follow.user.username }}" class="img-circle" />
                                {% else %}
                                <img src="/media/{{ follow.profile_photo }}" style="width: 50px !important;height: 50px !important;" alt="{{ follow.user.username }}" class="img-circle" />
                                {% endif %}
                            </a>
                                {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <div class="panel-footer">
                        <a href="javascript:void(0)" id="{{ follower.0.user.id }}" onclick="added_ticket_to_my_bag(this);" class="btn btn-default btn-sm">
                            <output id="o{{ follower.0.user.id }}">{% if follower.4 %}{{ follow_status.1 }}{% else %}{{ follow_status.0 }}{% endif %}</output>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}

        {% for status_information in status_all_list %}
            <div class="timeline-block" id="{{ status_information.0.id }}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="media">
                            <a href="/profile/{{ status_information.4.user.username }}/" class="pull-left">
                                {% if status_information.4.profile_photo %}
                                    <img src="/media/{{ status_information.4.profile_photo }}/" class="media-object" style="height: 50px !important;">
                                {% else %}
                                    <img src="{% static 'images/default-avatar.png' %}" class="media-object" style="height: 50px !important;">
                                {% endif %}
                            </a>
                            <div class="media-body">
                                {% if request.user == status_information.0.user %}
                                <a href="/status/delete/{{ status_information.0.id }}/" class="pull-right text-muted"><i class="fa-close fa fa-2x "></i></a>
                                {% endif %}
                                <a href="/profile/{{ status_information.4.user.username }}/">{{ status_information.4.user.username }}</a>
                                <span>{{ status_information.0.date|date }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>{{ status_information.0.content }}</p>
                        <div class="timeline-added-images">
                            {% for status_photo_item in status_information.1 %}
                                <a href="/media/{{ status_photo_item.photo }}/" data-lightbox="image-1" data-title="">
                                {% if status_photo_item.photo == '' %}
                                    <img src="/media/{{ status_photo_item.photo }}/" style="width: 133px !important; margin-bottom: 4px;">
                                {% else %}
                                    <img src="{% static 'images/default-avatar.png' %}" style="width: 133px !important; margin-bottom: 4px;">
                                {% endif %}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="view-all-comments"><a href="#{{ status_information.0.id }}"><i class="fa fa-comments-o"></i> {{ status_information.2|length }} yorum</a></div>
                    <ul class="comments">
                        {% for comment in status_information.2 %}
                        <li>
                            <div class="media">
                                <a href="/profile/{{ comment.0.user.username }}/" class="pull-left">
                                    {% if comment.1.profile_photo %}
                                        <img src="/media/{{ comment.1.profile_photo }}/" class="media-object" style="height: 50px !important;">
                                    {% else %}
                                        <img src="{% static 'images/default-avatar.png' %}" class="media-object" style="height: 50px !important;">
                                    {% endif %}
                                </a>
                                <div class="media-body">
                                    <a href="/profile/{{ comment.0.user.username }}/" class="comment-author">{{ comment.0.user.username }}</a>
                                    <span>{{ comment.0.content }}</span>
                                    {% if request.user == comment.0.user or request.user == status_information.4.user %}
                                        <a href="/status_comment/delete/{{ comment.0.id }}/" class="pull-right text-muted"><i class="fa-close fa fa-x "></i></a>
                                    {% endif %}
                                    <div class="comment-date">{{ comment.0.date|date }}</div>
                                </div>
                            </div>
                        </li>
                            {% endfor %}
                        <li class="comment-form">
                            <form class="form-horizontal" id="status{{ status_information.0.id }}" method='POST' enctype="multipart/form-data" >
                                <div class="input-group">
                                    <input type="text" class="form-control" name="comment" id="{{ status_information.0.id }}" />
                                    <input type="hidden" class="form-control" hidden="hidden" name="status_comment" value="{{ status_information.0.id }}" />
                                    <span class="input-group-addon">
                                       <a href="#" name="comment_submit" onclick="document.forms['status{{ status_information.0.id }}'].submit();return false;"><i class="fa fa-comment"></i></a>
                                    </span>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script_block %}

    <script type="text/javascript">
        function added_ticket_to_my_bag(followed) {
            $.ajax({
                type: "POST",
                url: "/add_followed/",
                data: {followed: + followed.id },
                success: okey(followed),
                dataType: JSON
            });
        }
        function okey(followed)
        {
            console.log('geldi tipini siktiğin');
            var out = $("#o"+followed.id).html();
            if (out == "{{ follow_status.0 }}"){
            $("#o"+followed.id).html("{{ follow_status.1 }}");
            }else{
            $("#o"+followed.id).html("{{ follow_status.0 }}");
            }
        }

    var wrapper = $('<div/>').css({height:0,width:0,'overflow':'hidden','margin-top':'-10px'});
    var fileInput = $(':file').wrap(wrapper);

    fileInput.change(function(){
        $this = $(this);
{#        $('#file').text($this.val());#}
    });

    $('#file').click(function(){
        fileInput.click();
    }).show();
</script>
{% endblock %}