{% load staticfiles %}
{% load i18n %}
{% get_current_language as tr %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Social Network Template</title>

    <!-- App Styling Bundle -->
    <link href="{% static 'css/default.min.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]><script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login">
    <div id="content">
        <div class="container-fluid">
            <div class="lock-container">
                <h1>Giriş</h1>
                <div class="panel panel-default text-center">
                    <form id="login" method='POST'>
                        {% csrf_token %}
                        <div class="panel-body">
                            <input class="form-control" type="text" name="email" id="id_email" placeholder="Mail Adresi">
                            <input type="submit" class="btn btn-primary col-sm-12" value="Şifreyi Gönder">
                            <a href="/accounts/login/" class="forgot-password"><input type="button" class="btn btn-success col-sm-12" value="Giriş Yap"></a>
                            <div class="clearfix"></div>
                        </div>
                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}">
                    {% else %}
                        <input type="hidden" name="next" value="/">
                    {% endif %}
                </form>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- Vendor Scripts Bundle -->
<script src="{% static 'js/vendor.min.js' %}"></script>

<!-- App Scripts Bundle -->
<script src="{% static 'js/scripts.min.js' %}"></script>
</html>