{% extends "base.html" %}
{% load i18n %}
{% load tag %}
{% load staticfiles %}
{% block head_block %} {% endblock %}

{% block menu_block %}
{% endblock %}

{% block container_block %}

<!-- Fixed navbar -->

    <div class="container">
        <div class="media messages-container">
                <div class="panel panel-default">
                    <ul class="list-group">
                        {% for message in message_list %}
                        <li class="list-group-item">
                            <a href="/messages/detail/{{ message.user.username }}">
                                <div class="media">
                                    <div class="media-object pull-left">
                                        {% if message.profile_photo == '' %}
                                            <img src="{% static 'images/default-avatar.png' %}" width="50" class="img-circle" />
                                        {% else %}
                                            <img src="/media/{{ message.profile_photo }}" width="50" height="50" class="img-circle" />
                                        {% endif %}
                                    </div>
                                    <div class="media-body">
                                        <span class="user">{{ message.user.first_name }} {{ message.user.last_name }}</span>
                                        <div class="message">@{{ message.user.username }}</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
        </div>
    </div>

{% endblock %}
{% block script_block %}{% endblock %}