body
	{
		background: #ffffff;
		font-weight: 400;
	}

p
    {
        line-height: 24px;
    }

/* start all section */
#service, #about,
#portfolio, #contact
    {
        padding-top: 100px;
        padding-bottom: 100px;
        position: relative;
    }
/* end all section */

/* start title */
.title
    {
        text-align: center;
        padding-bottom: 60px;
    }
.title h2
    {
        font-weight: bold;
        font-size: 60px;
        line-height: 12px;
        padding-bottom: 10px;
    }
/* end title */

/* start overlay */
.overlay 
    {
       width: 100%;
       height: 100%;
       background: rgba(0, 0, 0, 0.8);
    } 
/* end overlay */

/* start nagivation */
.navbar-inverse
    {
        border: none;
        margin: 0 !important;
        padding: 0;
    }
.navbar-inverse .navbar-brand
    {
        color: #25ad9f;
        font-weight: 600;
        font-size: 40px;
        line-height: 30px;
    }
.navbar-inverse .navbar-nav li a
    {
        font-weight: 700;
        line-height: 35px;
        font-size: 13px;
        letter-spacing: 1px;
    }
.navbar-inverse .navbar-nav li a:hover
    {
        color: #25ad9f;
    }
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #25ad9f;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle
    {
        border: none;
        padding-top: 11px;
    }
.navbar-inverse .navbar-toggle .icon-bar
    {
        background: #25ad9f;
        border-color: transparent;
    }
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus { background-color: transparent }
/* end navigation */

/* start home */        
#home
	{
    background: url('../images/home-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #ffffff;
	}
#home .home-des
    {
        padding-top: 220px;
        padding-bottom: 140px;
    }
#home h1
	{
		font-size: 90px;
        font-weight: bold;
        line-height: 66px;
        letter-spacing: 2px;
        padding-top: 10px;
	}
#home h2
    {
        padding-top: 30px;
        padding-bottom: 60px;
    }
#home span
    {
        color: #25ad9f;
        font-weight: 300;
    }
#home .btn
    {
        border: 2px solid #25ad9f;
        transition: all 0.4s ease-in-out;
    }
#home .btn:hover
    {
        background: #25ad9f;
        border-color: transparent;
    }
/* end home */

/* start service */
#service .media .fa
    {
        color: #25ad9f;
        font-size: 60px;
        margin-right: 20px;
    }
#service .media .media-heading
    {
        font-weight: 600;
        font-size: 20px;
        padding-bottom: 10px;
    }
/* end service */

/* start divider */
.divider
    {
        background: url('../images/divider-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: #ffffff;
        text-align: center;
    }
.divider .divider-des
    {
        padding-top: 120px;
        padding-bottom: 160px;
    }
.divider .form-control
    {
        background: transparent;
        border: 2px solid #f2f2f2;
        border-radius: 0px;
        height: 50px;
    }
.divider input[type="submit"]
    {
        background: transparent;
        border: 2px solid #25ad9f;
        color: #ffffff;
        transition: all 0.4s ease-in-out;
    }
.divider input[type="submit"]:hover
    {
        background: #25ad9f;
        border-color: transparent;
    }
/* end divider */

/* start about */
#about h3
    {
        padding-bottom: 10px;
    }
#about p
    {
        line-height: 28px;
    }
#about .progress
    {
        background: #f9f9f9;
        box-shadow: none;
        border-radius: 0px;
        height: 6px;
    }
#about .progress .progress-bar-danger
    {
        background: #25ad9f;
    }
#about span
    {
        display: block;
        margin-top: 12px;
        margin-bottom: 6px;
    }
/* end about */

/* start team */
#team
    {
        background: url('../images/team-bg.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        color: #ffffff;
    }
#team .team-des
    {
        padding-top: 120px;
        padding-bottom: 600px;
    }
#team .team-wrapper
    {
        border: 1px solid #303030;
        margin-bottom: 20px;
        padding: 20px;
    }
#team .team-wrapper h3
    {
        color: #25ad9f;
        font-weight: bold;
    }
/* end team */

/* start portfolio */
#portfolio .portfolio-thumb
    {
        overflow: hidden;
        margin: 0;
        position: relative;
    }
#portfolio .portfolio-thumb .portfolio-overlay
    {
        background: #333;
        color: #ffffff;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        padding: 60px 60px 0px 60px;
        text-align: center;
        position: absolute;
        opacity: 0;
        transition: all 0.4s ease-in-out;
    }
#portfolio .portfolio-thumb:hover .portfolio-overlay
    {
        opacity: 0.9;
        transform: scale(1.1);
    }
#portfolio .portfolio-thumb .portfolio-overlay .fa
    {
        border: 1px solid #ffffff;
        border-radius: 50%;
        color: #ffffff;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        text-decoration: none;
        margin-right: 6px;
        margin-bottom: 10px;
    }
#portfolio .portfolio-thumb .portfolio-overlay h4
    {
        padding-bottom: 10px;
    }
/*filter css*/
.filter-wrapper {
    width: 100%;
    margin: 0 0 24px 0;
    overflow: hidden;
    text-align: center;
}
.filter-wrapper li {
    display: inline-block;
    margin: 4px;
}
.filter-wrapper li a {
    border: 1px solid #f2f2f2;
    color: #999;
    padding: 8px 17px;
    display: block;
    text-decoration: none;
}
/*isotope box css*/
.iso-box-section {
    width: 100%;
    margin: 0 0 24px 0;
}
.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}
.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.fluid-img {
    width: 100%;
    display: block;
    height: auto;
}
/* end portfolio */

/* start contact */
#contact
    {
        background: url('../images/contact-bg.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        color: #ffffff;
    }
#contact h3
    {
        padding-bottom: 20px;
    }
#contact .fa
    {
        color: #25ad9f;
        font-size: 16px;
        padding-bottom: 14px;
        padding-right: 10px;
    }
#contact .form-control
    {
        background: transparent;
        border-radius: 0px;
        box-shadow: none;
        border: 2px solid #303030;
        color: #ffffff;
        margin-bottom: 20px;
        transition: all 0.4s ease-in-out;
    }
#contact .form-control:focus,
#contact .form-control:hover
    {
        border-color: #fff;
    }
#contact input
    {
        height: 50px;
    }
#contact input[type="submit"]
    {
        border: 2px solid #25ad9f;
        font-weight: bold;
    }
#contact input[type="submit"]:hover
    {
        background: #25ad9f;
        border-color: transparent;
    }
/* end contact */

/* start footer */
footer
    {
        background: #101010;
        color: #ffffff;
        padding-top: 30px;
        padding-bottom: 20px;
        text-align: center;
    }
footer p
    {
        padding-top: 6px;
    }
/* end footer */

/* start social icon */
.social-icon
    {
        position: relative;
        padding: 0;
        margin: 0;
    }
.social-icon li
    {
        display: inline-block;
        list-style: none;
    }
.social-icon li a
    {
        color: #505050;
        font-size: 20px;
        text-decoration: none;
        transition: all 0.4s ease-in-out;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
    }
.social-icon li a:hover
    {
        color: #555cee;
    }
/* end social icon */

/* start media 980 */
@media screen and ( max-width: 980px ){
    #home h1
        {
            font-size: 80px;
            line-height: 60px;
        }
}
/* end media 980 */

/* start media 360 */
@media screen and ( max-width: 360px ){
    .navbar-inverse .navbar-brand
        {
            padding-top: 6px;
        }
    .title h2
        {
            font-size: 38px;
        }
}
/* end media 360 */